{
    "$schema": "https://swc.rs/schema.json",
    "sourceMaps": true,
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true
        },
        "baseUrl": "src"
    },
    "minify": false
}
