name: Test
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: With Elasticsearch container
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft && github.actor != 'dependabot[bot]' }}
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Setup Elasticsearch
        run: docker compose -p elasticsearch up --detach

      - name: Docker PS
        run: docker ps

      - name: Wait on Elasticsearch container
        run: yarn wait-on -v -i 1000 tcp:127.0.0.1:9200

      - name: Check Elasticsearch cluster health
        run: curl -X GET "http://localhost:9200/_cluster/health?pretty"

      - name: Seed Elasticsearch
        run: yarn es:seed

      - name: Run tests
        run: yarn jest --runInBand
