name: Test
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: With Elasticsearch container
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1

      - name: Setup
        uses: ./.github/actions/setup

      - name: Setup Elasticsearch
        run: docker compose up --quiet-pull --detach

      - name: Docker PS
        run: docker ps

      - name: Docker Inspect
        id: es-container
        run: echo "ip=$(docker inspect es-container --format "{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}")" >> $GITHUB_OUTPUT

      - name: Wait on Elasticsearch container
        run: yarn wait-on -v -i 1000 tcp:${{ steps.es-container.outputs.ip }}:9200

      - name: Check Elasticsearch cluster health
        run: curl -X GET "http://${{ steps.es-container.outputs.ip }}:9200/_cluster/health?wait_for_status=green&timeout=60s&pretty"

      - name: Seed Elasticsearch
        run: yarn es:seed

      - name: Run tests
        run: yarn jest --runInBand
